body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
}
.ty {
  width: 40rem;
  margin: auto;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFElEQVQY02NgGBGA8d27d//xKQAAdIIDy0CndtYAAAAASUVORK5CYII=');
  padding-left: 2rem;
  padding-right: 2rem;
}
.ty pre {
  background: #FFF;
  box-shadow: 0 0 10px #AAA inset
}