/**
 * ty.css
 * http://github.com/chadluo/ty.css
 *
 * author yukirock<i@yukir.net>
 *
 * providing basic typographic styles.
 * mainly on CJK.
 * compress the way you prefer.
 *
 * usage:
 *
   <article class="ty-cjk">
 *
 * or
 *
   <article class="ty-latin">
 *
 */





/**
 * Basic reset
 */

p,
h1, h2, h3, h4, h5, h6,
ul, ol, li,
dl, dt, dd,
strong,
hr {
    margin: 0;
    padding: 0;
}





/**
 * Common parts
 */

.ty-cjk,
.ty-latin {
    max-width: 50rem;
}

.ty-cjk .intro,
.ty-latin .intro {
    text-indent: 0;
    font-size: calc(1rem + 2px);
    position: relative;
    top: -1px;
}

.ty-cjk p + p,
.ty-cjk blockquote + p,
.ty-cjk pre + p,
.ty-latin p + p,
.ty-latin blockquote + p,
.ty-latin pre + p {
    text-indent: 1rem;
}


.ty-cjk code,
.ty-latin code {
    line-height: 1em;
}

.ty-cjk pre code,
.ty-latin pre code {
    font-size: 0.8rem;
    line-height: 1rem;
}

.ty-cjk hr,
.ty-latin hr {
    text-align: center;
    line-height: 4rem;
    height: 4rem;
    border: none;
}

.ty-cjk hr:before,
.ty-latin hr:before {
    content: "ï¼Š";
    font-size: 1rem;
    font-family: serif;
    opacity: 0.5;
}





/**
 * CJK block chars
 */

.ty-cjk h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 1.25rem 0;
}
.ty-cjk h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1.25rem 0;
}
.ty-cjk h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1.25rem 0;
}
.ty-cjk h4 {
    font-size: 1rem;
    line-height: 2rem;
}

.ty-cjk p,
.ty-cjk blockquote {
    font-size: 1rem;
    line-height: 2rem;
}

.ty-cjk ul,
.ty-cjk ol {
    padding: 0.75rem 0 0.75rem 2rem;
}

.ty-cjk ul,
.ty-cjk ol,
.ty-cjk li {
    line-height: 1.5rem;
}

.ty-cjk .ty-cjk-blocklist {
    padding: 0.25rem 0 0.25rem 2rem;
}

.ty-cjk-blocklist li {
    line-height: 1.5rem;
    padding: 0.25rem 0;
}

.ty-cjk li ul,
.ty-cjk li ol {
    padding: 0 0 0 1rem;
}

.ty-cjk blockquote {
    margin: 0;
    padding: 0.75rem 1.5rem;
}

.ty-cjk pre {
    margin: 1rem 0;
    padding: 1rem;
}

/**
 * suggest: different font for em under CJK
 *
   .ty-cjk em {
       font-family: serif;
   }
 *
 */

.ty-cjk strong {
    line-height: 1rem;
}





/**
 * Latin, letters
 *
 * narrow line-heights
 */

.ty-latin {
    padding: 0.25rem 0;
}

.ty-latin h1 {
    font-size: 2rem;
    line-height: 5.5rem;
}
.ty-latin h2 {
    font-size: 1.5rem;
    line-height: 5rem;
}
.ty-latin h3 {
    font-size: 1rem;
    line-height: 4.5rem;
}
.ty-latin h4 {
    font-size: 1rem;
    line-height: 3.5rem;
}

.ty-latin p
,.ty-latin blockquote {
    font-size: 1rem;
    line-height: 1.5rem;
}

.ty-latin ul,
.ty-latin ol {
    padding: 0.5rem 0 0.5rem 2rem;
}

.ty-latin li {
    line-height: 1.5rem;
}

.ty-latin li ul,
.ty-latin li ol {
    padding: 0 0 0 1rem;
}

.ty-latin-blocklist li {
    padding-top: 0.5rem;
}

.ty-latin pre {
    margin: 0.75rem 0;
    padding: 1rem;
}
