.ty-cjk p
, .ty-cjk h1, .ty-cjk h2, .ty-cjk h3, .ty-cjk h4, .ty-cjk h5, .ty-cjk h6
, .ty-cjk dl, .ty-cjk dt, .ty-cjk dd
, .ty-cjk hr {
    margin: 0;
    padding: 0;
}

.ty-cjk p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.25rem 0;
}

.ty-cjk h1 {
    font-size: 2rem;
    line-height: 4rem;
}
.ty-cjk h2 {
    font-size: 1.5rem;
    line-height: 3.5rem;
}
.ty-cjk h3 {
    font-size: 1rem;
    line-height: 3rem;
}
.ty-cjk h4 {
    font-size: 1rem;
    line-height: 2rem;
}

.ty-cjk ul
,.ty-cjk ol {
    margin: 0;
    padding: 0.25rem 0 0.25rem 2rem;
}

.ty-cjk li ul {
    padding: 0 0 0 1rem;
}

.ty-cjk li {
    line-height: 1.5rem;
}

.ty-cjk code
,.ty-cjk pre {
    font-size: 1rem;
    line-height: 1rem;
}

.ty-cjk pre {
    margin: 0.5rem 0;
    padding: 1rem;
}

.ty-cjk hr {
    text-align: center;
    line-height: 2rem;
    height: 2rem;
    border: none;
}

.ty-cjk hr:before {
    content: "***";
    font-size: 1rem;
}

/* baseline alignment 
 *
 * assert 1rem = 16px
 */

/*
body { background: url(8.png); }
*/
