/**
 * ty.css
 * http://github.com/chadluo/ty.css
 *
 * author yukirock<i@yukir.net>
 *
 */

/**
 * Basic reset
 */

p,
h1, h2, h3, h4, h5, h6,
ul, ol, li,
dl, dt, dd,
strong,
hr {
    margin: 0;
    padding: 0;
}





/**
 * Common parts
 */

.ty-basic {
    max-width: 50rem;
}

.ty-basic .intro {
    text-indent: 0;
    font-size: calc(1rem + 2px);
    position: relative;
    top: -1px;
}

.ty-basic code {
    line-height: 1em;
}

.ty-basic pre code {
    font-size: 0.8rem;
    line-height: 1rem;
}

.ty-basic hr {
    text-align: center;
    line-height: 4rem;
    height: 4rem;
    border: none;
}

.ty-basic hr:before {
    content: "＊";
    font-size: 1rem;
    font-family: serif;
    opacity: 0.5;
}





/**
 * behavior between consecutive paragraphs.
 */
.ty-indent p + p,
.ty-indent blockquote + p,
.ty-indent pre + p {
    text-indent: 1rem;
}
.ty-break p + p,
.ty-break blockquote + p,
.ty-break pre + p {
    margin-top: 1em;
}






/**
 * Higher line heights (2.0)
 */

.ty-wide h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 1.25rem 0;
}
.ty-wide h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1.25rem 0;
}
.ty-wide h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1.25rem 0;
}
.ty-wide h4 {
    font-size: 1rem;
    line-height: 2rem;
}

.ty-wide p
,.ty-wide blockquote
,.ty-wide address {
    font-size: 1rem;
    line-height: 2rem;
}

.ty-wide ul,
.ty-wide ol {
    padding: 0.75rem 0 0.75rem 2rem;
}

.ty-wide ul,
.ty-wide ol,
.ty-wide li {
    line-height: 1.5rem;
}

.ty-wide .ty-wide-blocklist {
    padding: 0.25rem 0 0.25rem 2rem;
}

.ty-wide-blocklist li {
    line-height: 1.5rem;
    padding: 0.25rem 0;
}

.ty-wide li ul,
.ty-wide li ol {
    padding: 0 0 0 1rem;
}

.ty-wide blockquote {
    margin: 0.75rem -1rem;
    padding: 0.75rem 0.5rem 0.75rem 3rem;
}

.ty-wide pre {
    margin: 1rem 0;
    padding: 1rem;
}

.ty-wide strong {
    line-height: 1rem;
}





/**
 * narrow line-heights (1.5)
 */

.ty-narrow {
    padding: 0.25rem 0;
}

.ty-narrow h1 {
    font-size: 2rem;
    line-height: 5.5rem;
}
.ty-narrow h2 {
    font-size: 1.5rem;
    line-height: 5rem;
}
.ty-narrow h3 {
    font-size: 1rem;
    line-height: 4.5rem;
}
.ty-narrow h4 {
    font-size: 1rem;
    line-height: 3.5rem;
}

.ty-narrow p
,.ty-narrow blockquote
,.ty-narrow address {
    font-size: 1rem;
    line-height: 1.5rem;
}

.ty-narrow ul,
.ty-narrow ol {
    padding: 0.5rem 0 0.5rem 2rem;
}

.ty-narrow li {
    line-height: 1.5rem;
}

.ty-narrow li ul,
.ty-narrow li ol {
    padding: 0 0 0 1rem;
}

.ty-narrow-blocklist li {
    padding-top: 0.5rem;
}

.ty-narrow pre {
    margin: 0.75rem 0;
    padding: 1rem;
}
